@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin     : 0;
  padding    : 0;
  font-family: 'Balsamiq Sans', cursive;
  box-sizing : border-box;
}

html,
body {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width     : 0px;
  background: transparent;
  display: none;
  /* make scrollbar transparent */
}

#root {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}